[submodule "sentry-native"]
    path = external/sentry-native
    url = https://github.com/getsentry/sentry-native
[submodule "discord-rpc"]
    path = external/discord-rpc
    url = https://github.com/discord/discord-rpc
